.App{
  height: 95vh;
}

.button{
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

.active{
  background-color: rgb(26, 26, 221);
}

.onePic{
  width: 32%;
  margin: 0 0.5%;
  object-fit: cover;

  @media (max-width: 700px) {
    width: 50%;
  }

  @media (max-width: 400px) {
    width: 100%;
  }
}